body {
	background-image: url("../img/pizza.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1000px 660px;
	background-color: #99A3A4;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-weight: 900;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: 600;
	margin: auto;
}

fieldset {
	padding: 0px 2px;
}

.container {
	width: 100%;
}

.banner {
	color: #00bfff;
}

.card-header {
	color: #fff;
	background-color: #00bfff;
	padding: 0px 10px;
}

.card-body {
	padding: 0px 5px;
	background-color: #F2F4F4;
}

.spacer {
	width: 100%;
	padding: 12px 0px;
}

.btn {
	margin: 0px 20px;
}

#title1, #title2, #showText1, #showText2, #totalPrice1, #totalPrice2 {
	float: left;
	width: 50%;
}

#Receipt {
	opacity: 0;
}